@import 'Styles/includes';

.Root {
    width: 100%;
    height: 100%;

    &--Contain {
        object-fit: contain;
        background-size: contain;
    }

    &--Cover.Root--ObjectFit {
        object-fit: cover;
    }

    &--Cover.Root--Fallback {
        background-size: cover;
    }
}
