@use '../../styles/includes' as *;

.Root {
    display: flex;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    background-color: $purple-20;

    @include media(M) {
        padding: 24px;
    }
}

.Title {
    @include textstyle(richtext-h4);
}
