@import 'Styles/includes';

.Root {
}

.Wrap {
    @include wrap;
}

.Header {
    background-color: $purple-20;
    padding-top: 80px;
    padding-bottom: 50px;
    margin-bottom: 48px;
}

.Title {
    @include textstyle(page-title);

    margin-bottom: 24px;
}

.Info {
    margin-bottom: 16px;
}

.List {
    width: 100%;
    display: grid;
    gap: 16px;

    @include media(M) {
        grid-template-columns: repeat(3, 1fr);
    }
}
