@import 'Styles/includes';

.Root {
    position: relative;
    width: auto;
    border-radius: 100px; 
}

.Input {
    box-shadow: none;
    border: none;
    background-color: transparent;
    width: auto;
    width: 100%;
    height: 100%;
    padding: 10px 38px 10px 12px; 
    transition: border $transition;
    inset: 0 24px; 

    &::placeholder {
        color: black;
    }

    .Root:hover &, 
    .Root-active:hover & {
        border: 1px solid $purple;
        border-radius: 100px;
    }
}

.Input:active,
.Input:focus,
.Input:focus-within, 
.Input:focus-visible {
    background-color: white;
    border: none;
    outline: 1px solid $purple;
    border-radius: 100px;
}

.Submit {
    overflow: hidden; //prevent hidden submit text to overflow 
    width: 32px;
    height: 32px;
    border: none;  
    background-image: url('#{$assetsPath}img/search.svg');
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;

    color: transparent;
    vertical-align: middle;

    position: absolute;
    top: 50%;
    bottom: 0; 
    right: 4px; 
    transform: translateY(-50%);
    transition: background-color $transition; 
    z-index: 1;
    padding: 6px; 

    &:hover {
        background-color: $purple-60; 
    }
}
