@use '../../styles/includes' as *;

.Root {
    margin-bottom: 48px;

    @include media(ML) {
        margin-bottom: 72px;
    }
}

.Wrap {
    @include wrap;
}

.Title {
    @include textstyle(richtext-h2);

    margin-bottom: 24px;
}

.Button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
