@import 'Styles/includes';

.Root {
}

.Wrap {
    @include wrap;
}

.HeaderWrap {
    max-width: map-get($maxwidths, article);
    margin: 40px auto 0;

    @include media(ML) {
        margin-top: 64px;
    }
}

.Header {
    max-width: map-get($maxwidths, content);
}

.Featured {
    position: relative;
    width: 100%;
    margin-top: 32px;

    @include media(ML) {
        margin-top: 48px;
    }
}

.Layout {
    display: flex;
    flex-direction: column;
    max-width: map-get($maxwidths, article);
    margin: 32px auto 0;

    @include media(ML) {
        flex-direction: row;
        margin-top: 48px;
    }
}

.Content {
    flex: 1 0 auto;
    order: 1;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 48px;

    @include media(ML) {
        order: 0;
        width: calc(100% - 370px);
        max-width: map-get($maxwidths, content);
        margin-top: 0;
        margin-right: 40px;
        margin-bottom: 72px;
    }
}

.Title {
    @include textstyle(page-title);
}

.Sidebar {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 24px;

    @include media(ML) {
        width: 320px;
        margin-top: 0;
        margin-left: auto;
        margin-bottom: 72px;
    }
}
