$assetsPath: '../../assets/';
$gutter: 16px;
$gutterM: 24px; // Used for media query above M

// Grid and site widths
$maxwidths: (
    // S: 320px,
    SL: 500px - ($gutter * 2),
    M: 720px,
    ML: 808px,
    L: 1140px,
    XL: 1280px,
    XXL: 1440px,
    header: 725px,
    content: 618px
);
$breakpoints: (
    S: 375px,
    SL: 500px,
    // Landscape
    M: 768px,
    ML: 1024px,
    // Landscape
    L: 1280px,
    XL: 1440px,
    XXL: 1680px,
);
$transition: 0.3s ease-in-out;

/** Color definintions from styleguide **/
$grey: #9e9e9e;
$grey-5: #fafafa;
$grey-10: whitesmoke; // #F5F5F5
$grey-20: #eee;
$grey-30: #e0e0e0;
$grey-40: #bdbdbd;
$grey-60: #757575;
$grey-70: #616161;
$grey-80: #424242;
$grey-90: #212121;
$purple: #673ab7;
$purple-20: #ede7f6;
$purple-60: #b39ddb;
$purple-90: #4527a0;
$yellow: #ffee58;
$yellow-20: #fffde7;
$yellow-40: #fff59d;
$yellow-60: #fdd835;
$pink: #e91e63;
$system-error: #d32f2f;
$system-error-10: #fbebeb;
$system-success: #1dac2c;

/** Color definitions custom vars **/
$bg-color: white;
$base-color: $grey-90;
$primary-color: $purple;
$accent-color: $yellow;
$link-color: $primary-color;
$link-hover-color: darken($purple, 20%);
$error-color: $system-error;
$error-bg: $system-error-10;
$success-color: $system-success;

/** Text styles variables **/
$base-font: #{Roboto, Arial, sans-serif};
$heading-font: #{Roboto, Arial, sans-serif};
$base-size: 1.6rem;

// Match names of weights here with the weights of the fonts in fonts.scss
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// No other font sizes are needed
// Font sizes and line heights as defined by styleguide in pixels
$textstyles: (
    page-title: (
        d: (
            font-size: 44,
            line-height: 59.8,
            font-weight: $bold,
            font-family: $heading-font,
        ),
        M: (
            font-size: 64,
            line-height: 84.5,
        ),
    ),
    module-title: (
        d: (
            font-size: 34,
            line-height: 47.6,
            font-weight: $bold,
            font-family: $heading-font,
        ),
        M: (
            font-size: 44,
            line-height: 60.3,
        ),
    ),
    card-title: (
        d: (
            font-size: 34,
            line-height: 40,
            font-weight: $bold,
            font-family: $heading-font,
        ),
        M: (
            font-size: 26,
            line-height: 26,
        ),
    ),
    accordion-title: (
        d: (
            font-size: 16,
            line-height: 23.8,
            font-weight: $bold,
            font-family: $heading-font,
        ),
        M: (
            font-size: 22,
            line-height: 28.4,
        ),
    ),
    footer-title: (
        d: (
            font-size: 18,
            line-height: 26.82,
            font-weight: $bold,
            font-family: $heading-font,
        ),
        M: (
            font-size: 20,
            line-height: 25.8,
            font-weight: $bold,
            font-family: $heading-font,
        ),
    ),
    richtext-h2: (
        d: (
            font-size: 36,
            line-height: 48.2,
            font-weight: $bold,
            font-family: $heading-font,
        ),
        M: (
            font-size: 40,
            line-height: 55.6,
        ),
    ),
    richtext-h3: (
        d: (
            font-size: 28,
            line-height: 39.8,
            font-weight: $bold,
            font-family: $heading-font,
        ),
        M: (
            font-size: 32,
            line-height: 45.1,
        ),
    ),
    richtext-h4: (
        d: (
            font-size: 24,
            line-height: 36.5,
            font-weight: $bold,
            font-family: $heading-font,
        ),
        M: (
            font-size: 26,
            line-height: 39.5,
        ),
    ),
    richtext-h5: (
        d: (
            font-size: 20,
            line-height: 28.4,
            font-weight: $bold,
            font-family: $heading-font,
        ),
        M: (
            font-size: 22,
            line-height: 32.6,
        ),
    ),
    richtext-h6: (
        d: (
            font-size: 16,
            line-height: 23.7,
            font-weight: $bold,
            font-family: $heading-font,
        ),
        M: (
            font-size: 18,
            line-height: 26.6,
        ),
    ),
    body: (
        d: (
            font-size: 16,
            line-height: 23.5,
        ),
        // Also card-text
    ),
    preamble: (
        d: (
            font-size: 18,
            line-height: 27.4,
            font-weight: $light,
        ),
        M: (
            font-size: 22,
            line-height: 32.6,
        ),
    ),
    paragraph: (
        d: (
            font-size: 16,
            line-height: 23.5,
        ),
        M: (
            font-size: 18,
            line-height: 27.7,
        ),
    ),
    quote: (
        d: (
            font-size: 20,
            line-height: 39.4,
            font-weight: $bold,
            font-family: $heading-font,
        ),
        M: (
            font-size: 26,
            line-height: 39.5,
        ),
    ),
    cite: (
        d: (
            font-size: 14,
            line-height: 23.5,
        ),
        // Quote name
        M:
            (
                font-size: 18,
                line-height: 26.5,
            ),
    ),
    caption: (
        d: (
            font-size: 12,
            line-height: 16.3,
            letter-spacing: 0.2px,
        ),
    ),
    button: (
        d: (
            font-size: 16,
            line-height: 19.8,
            font-weight: $medium,
        ),
        M: (
            font-size: 18,
            line-height: 24.5,
        ),
    ),
    textlink: (
        d: (
            font-size: 16,
            line-height: 23.5,
        ),
        // Footer link
        M:
            (
                font-size: 18,
                line-height: 27.7,
            ),
    ),
    main-menu: (
        d: (
            font-size: 20,
            line-height: 29.6,
        ),
        M: (
            font-size: 16,
            line-height: 23.68,
        ),
    ),
    service-menu: (
        d: (
            font-size: 12,
            line-height: 16.44,
        ),
        M: (
            font-size: 14,
            line-height: 23.52,
        ),
    ),
    submenu: (
        d: (
            font-size: 16,
            line-height: 19.7,
            font-weight: $bold,
        ),
        // Add bold to active and first level instead of new text style
    ),
    breadcrumb: (
        d: (
            font-size: 10,
            line-height: 12.2,
        ),
        M: (
            font-size: 12,
            line-height: 16.3,
        ),
    ),
    label: (
        d: (
            font-size: 14,
            line-height: 16.5,
            font-weight: $bold,
            text-transform: uppercase,
        ),
    ),
    label-card: (
        d: (
            font-size: 12,
            line-height: 14,
            font-weight: $bold,
            text-transform: uppercase,
        ),
    ),
    date: (
        d: (
            font-size: 14,
            line-height: 23.5,
        ),
    ),
    form-label: (
        d: (
            font-size: 16,
            line-height: 20,
            font-weight: $bold,
        ),
    ),
);
