$assetsPath: 'assets/';

$gutter: 16px;
$gutterM: 24px; // Used for media query above M

// Grid and site widths
$maxwidths: (
    // S: 320px,
    SL: 500px - ($gutter * 2),
    M: 720px,
    ML: 808px,
    L: 1140px,
    XL: 1280px,
    XXL: 1440px,
    content: 618px,
);
$breakpoints: (
    S: 375px,
    SL: 500px, // Landscape
    M: 768px,
    ML: 1024px, // Landscape
    L: 1280px,
    XL: 1440px,
    XXL: 1680px,
);

$transition: .3s ease-in-out;

/** Color definintions from styleguide **/
$grey: #9E9E9E;
$grey-10: #F5F5F5;
$grey-60: #757575;

$purple: #673AB7;
$purple-5: #EDE7F6;
$purple-90: #311B92;

$yellow: #FFEE58;

$system-error: #D32F2F;
$system-error-10: #FBEBEB;
$system-success: #1DAC2C;

/** Color definitions custom vars **/
$bg-color: white;
$base-color: black;
$heading-color: black;
$primary-color: $purple;
$accent-color: $yellow;

$link-color: $primary-color;
$link-hover-color: darken($purple, 20%);

$error-color: $system-error;
$error-bg: $system-error-10;
$success-color: $system-success;

/** Text styles variables **/
$base-font: #{Arial, sans-serif};
$heading-font: #{Arial, sans-serif};

$base-size: 1.6rem;

$light: 300;
$book: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$black: 800;
$heavy: 900;

// No other font sizes are needed
// Font sizes and line heights as defined by styleguide in pixels
$textstyles: (
    title: (
        d: (font-size: 40, line-height: 48, font-weight: $black, font-family: $heading-font, color: $heading-color),
        M: (font-size: 56, line-height: 64),
    ),
    module-title: (
        d: (font-size: 36, line-height: 40, font-weight: $black, font-family: $heading-font),
        M: (font-size: 40, line-height: 48),
    ),
    card-title: (
        d: (font-size: 30, line-height: 34, font-weight: $black, font-family: $heading-font),
        M: (font-size: 32, line-height: 40),
    ),
    html-h2: (
        d: (font-size: 32, line-height: 40, font-weight: $black, font-family: $heading-font),
        M: (font-size: 34, line-height: 40),
    ),
    html-h3: (
        d: (font-size: 24, line-height: 40, font-weight: $black, font-family: $heading-font),
        M: (font-size: 28, line-height: 40),
    ),
    html-h4: (
        d: (font-size: 22, line-height: 36, font-weight: $black, font-family: $heading-font),
        M: (font-size: 24, line-height: 40),
    ),
    html-h5: (
        d: (font-size: 18, line-height: 28, font-weight: $black, font-family: $heading-font),
        M: (font-size: 20, line-height: 32),
    ),
    html-h6: (
        d: (font-size: 16, line-height: 24, font-weight: $black, font-family: $heading-font),
        M: (font-size: 18, line-height: 28),
    ),
    preamble: (
        d: (font-size: 18, line-height: 28, font-weight: $book, letter-spacing: .2px),
        M: (font-size: 20, line-height: 29),
    ),
    body: (
        d: (font-size: 16, line-height: 24, font-weight: $book, letter-spacing: .2px),
        M: (font-size: 18, line-height: 28),
    ),
    blockquote: (
        d: (font-size: 20, line-height: 32, font-weight: $bold, letter-spacing: .2px),
        M: (font-size: 24, line-height: 32),
    ),
    caption: (
        d: (font-size: 11, line-height: 14, color: $grey-60),
        M: (font-size: 12, line-height: 16),
    ),
);
