@import 'Styles/includes';

.Root {
}

.Wrap {
    @include wrap;
}

.Header {
    background-color: $purple-20;
    padding-top: 80px;
    padding-bottom: 50px;
    margin-bottom: 48px;
}

.Title {
    @include textstyle(page-title);

    margin-bottom: 24px;
}
