@import 'Styles/includes';

.Root {
    display: block;
    position: absolute;
    transform: translateY(-62px);
    width: 100%;
    opacity: 0;

    &:focus {
        position: relative;
        transform: translateY(0);
        width: fit-content;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: 9999;
        margin: 8px auto;
    }
}
