/* Styleguide is only available in storybook */

.styleguide {
    background: white;

    &__wrap {
        @include wrap;

        padding: 40px 0 80px;
    }

    h1 {
        @include textstyle(h1);

        margin: 40px 0;
        color: black;
    }

    h2 {
        @include textstyle(h2);

        padding-bottom: 8px;
        margin: 60px 0 40px;
        color: black;
        border-bottom: 1px solid black;
    }

    pre {
        font-family: 'Courier new', monospace;
        margin: 40px 0 8px;
    }

    .textstyle {
        &--title {
            @include textstyle(title);
        }
        &--module-title {
            @include textstyle(module-title);
        }
        &--card-title {
            @include textstyle(card-title);
        }
        &--html-h2 {
            @include textstyle(html-h2);
        }
        &--html-h3 {
            @include textstyle(html-h3);
        }
        &--html-h4 {
            @include textstyle(html-h4);
        }
        &--html-h5 {
            @include textstyle(html-h5);
        }
        &--html-h6 {
            @include textstyle(html-h6);
        }
        &--body {
            @include textstyle(body);
        }
        &--preamble {
            @include textstyle(preamble);
        }
    }

    .color {
        &__box {
            display: block;
            padding: 24px;
            color: black;
            font-weight: $black;

            &--purple {
                color: white;
                background: $purple;
            }

            &--grey {
                color: white;
                background: $grey;
            }

            &--grey-60 {
                color: white;
                background: $grey--60;
            }

            &--grey-10 {
                background: $grey--10;
            }
        }
    }
}
