/* Styleguide is only available in storybook */

.styleguide {
    @include textstyle(body);

    background: white;

    &__wrap {
        @include wrap;

        padding: 40px 0 80px;
    }

    h1 {
        margin: 40px 0;
        color: rgba(black, 0.7);
        font-size: 4rem;
        font-weight: bold;
    }

    h2 {
        padding-bottom: 8px;
        margin: 60px 0 40px;
        color: rgba(black, 0.5);
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(black, 0.5);
    }

    pre {
        font-family: 'Courier new', monospace;
        margin: 40px 0 8px;
        white-space: pre-wrap;
    }

    &__bg {
        padding: 16px;

        pre {
            color: rgba(white, 0.8);
        }

        &--dark {
            background: $grey-90;
        }

        &--purple {
            background: $purple;
        }
    }

    .textstyle {
        &--title {
            @include textstyle(page-title);
        }

        &--module-title {
            @include textstyle(module-title);
        }

        &--card-title {
            @include textstyle(card-title);
        }

        &--accordion-title {
            @include textstyle(accordion-title);
        }

        &--footer-title {
            @include textstyle(footer-title);
        }

        &--richtext-h2 {
            @include textstyle(richtext-h2);
        }

        &--richtext-h3 {
            @include textstyle(richtext-h3);
        }

        &--richtext-h4 {
            @include textstyle(richtext-h4);
        }

        &--richtext-h5 {
            @include textstyle(richtext-h5);
        }

        &--richtext-h6 {
            @include textstyle(richtext-h6);
        }

        &--body {
            @include textstyle(body);
        }

        &--preamble {
            @include textstyle(preamble);
        }

        &--paragraph {
            @include textstyle(paragraph);
        }

        &--quote {
            @include textstyle(quote);
        }

        &--cite {
            @include textstyle(cite);
        }

        &--caption {
            @include textstyle(caption);
        }

        &--button {
            @include textstyle(button);
        }

        &--textlink {
            @include textstyle(textlink);
        }

        &--mainmenu {
            @include textstyle(mainmenu);
        }

        &--servicemenu {
            @include textstyle(servicemenu);
        }

        &--submenu {
            @include textstyle(submenu);
        }

        &--breadcrumb {
            @include textstyle(breadcrumb);
        }

        &--label {
            @include textstyle(label);
        }

        &--label-card {
            @include textstyle(label-card);
        }

        &--date {
            @include textstyle(date);
        }
    }

    .color {
        &__box {
            display: block;
            padding: 24px;
            color: black;
            font-weight: bold;

            &--purple {
                color: white;
                background: $purple;
            }

            &--purple-20 {
                background: $purple-20;
            }

            &--purple-60 {
                background: $purple-60;
            }

            &--purple-90 {
                color: white;
                background: $purple-90;
            }

            &--yellow {
                background: $yellow;
            }

            &--yellow-20 {
                background: $yellow-20;
            }

            &--yellow-40 {
                background: $yellow-40;
            }

            &--yellow-60 {
                background: $yellow-60;
            }

            &--pink {
                background: $pink;
            }

            &--grey {
                color: white;
                background: $grey;
            }

            &--grey-5 {
                background: $grey-5;
            }

            &--grey-10 {
                background: $grey-10;
            }

            &--grey-20 {
                background: $grey-20;
            }

            &--grey-30 {
                background: $grey-30;
            }

            &--grey-40 {
                background: $grey-40;
            }

            &--grey-60 {
                color: white;
                background: $grey-60;
            }

            &--grey-70 {
                color: white;
                background: $grey-70;
            }

            &--grey-80 {
                color: white;
                background: $grey-80;
            }

            &--grey-90 {
                color: white;
                background: $grey-90;
            }

            &--system-success {
                background: $system-success;
            }

            &--system-error {
                background: $system-error;
            }

            &--system-error-10 {
                background: $system-error-10;
            }
        }
    }
}
