@import 'Styles/index';

.Root {
    background: $grey-10;
}
.RootExpanded {
}

.Header {
    position: relative;
    padding: 32px 64px 32px 24px;
    cursor: pointer;

    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 34px;
        right: 26px;
        padding: 3px;
        border: solid $primary-color;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        transition: transform $transition;
    }

    .RootExpanded & {
        &::after {
            transform: rotate(225deg);
        }
    }
}

.RichText {
    padding: 0 64px 32px 24px;
}
