{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "debug": false,
                "useBuiltIns": "usage",
                "corejs": "3.7"
            }
        ]
    ]
}
