@import 'Styles/includes';

.Root {
    position: relative;
}

.Navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background: $primary-color;
    overflow: auto;
    z-index: 1;
}

.Button {
    position: relative;
    width: 42px;
    height: 42px;
    border: 10px solid $purple-20;
    background: $primary-color;
    box-shadow: none;
    cursor: pointer;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 4px;
        left: 0;
        width: 100%;
        height: 5px;
        background: $purple-20;
    }

    &::after {
        top: 13px;
    }
}

.ButtonClose {
    position: relative;
    width: 42px;
    height: 42px;
    border: 10px solid $primary-color;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    cursor: pointer;
    margin-right: 8px; 

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background: white;
        top: 4px;
    }

    &:before {
        transform: rotate(-45deg);
    }

    &::after {
        transform: rotate(45deg);
    }
}

.Content {
    padding: 32px 0;
    color: white;
    text-align: right;
    background: $primary-color;
}

