@use 'sass:map';
@use '../../styles/includes' as *;

.Wrap {
    @include wrap;
}

.HeaderWrap {
    max-width: map.get($maxwidths, article);
    margin: 40px auto 0;

    @include media(ML) {
        margin-top: 64px;
    }
}

.Header {
    max-width: map.get($maxwidths, content);
}

.Label {
    @include textstyle(label);

    color: $purple;
    margin-bottom: 8px;

    @include media(ML) {
        margin-bottom: 12px;
    }
}

.Title {
    @include textstyle(page-title);

    margin-bottom: 16px;

    @include media(ML) {
        margin-bottom: 24px;
    }
}

.Meta {
    margin-top: 8px;
}

.Date {
    @include textstyle(date);

    color: $grey-70;
    margin-bottom: 16px;

    @include media(ML) {
        margin-bottom: 24px;
    }
}

.Featured {
    position: relative;
    width: 100%;
    max-width: map.get($maxwidths, article);
    margin: 32px auto 0;

    @include media(ML) {
        margin-top: 48px;
    }
}

.Layout {
    display: flex;
    flex-direction: column;
    max-width: map.get($maxwidths, article);
    margin: 32px auto 48px;

    @include media(ML) {
        flex-direction: row;
        margin-top: 48px;
        margin-bottom: 72px;
    }
}

.Content {
    flex: 1 0 auto;
    width: 100%;

    @include media(ML) {
        max-width: map.get($maxwidths, content);
        margin-right: 40px;
    }
}
