@import 'Styles/includes';

.Root {
    border-bottom: 1px solid $grey-10;
}

.Wrap {
    @include wrap;

    display: flex;
    align-items: center;
}

.ServiceBg {
    background: $purple-20;
}

.Service {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-left: -8px;
}

.LogoLink {
    flex: 0 0 auto;
    display: block;
    margin-right: 20px;
}

.Logo {
    margin-top: 4px;
}

.Menu {
    flex: 0 0 auto;
    margin: 20px 0 0 auto;
    display: none;

    @include media(M) {
        display: block;
    }
}

.NavigationDrawer {
    flex: 0 0 auto;
    margin-left: auto;

    @include media(M) {
        display: none;
    }
}
