@import 'Styles/includes';

.Root {
    border-bottom: 1px solid $grey--10;
}

.Wrap {
    @include wrap;

    display: flex;
    align-items: center;
}

.LogoLink {
    flex: 0 0 auto;
    display: block;
    margin-right: 20px;
}

.Logo {
    margin-top: 4px;
}

.Menu {
    flex: 0 0 auto;
    margin-left: auto;
}
